Flask==0.10.1
-e git+https://github.com/flask-admin/flask-admin.git@b90bda6055d2915306921d73c0e87ae3cfd7b280#egg=Flask_Admin-master
Flask-Login==0.3.2
Flask-SQLAlchemy==2.1
Jinja2==2.8
MarkupSafe==0.23
SQLAlchemy==1.0.9
WTForms==2.0.2
Werkzeug==0.11.2
itsdangerous==0.24
